flask_httpauth
psutil
gunicorn
dnspython
pymongo
requests
p2pnetwork
opencv-python
numpy
python-dotenv
gevent
Flask-SocketIO
gevent-websocket
flask-login
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability