{% extends "base.html" %}

{% block title %}{{code}} Error - OpenLoop{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <div class="error mx-auto" data-text="{{code}}">
        <p class="m-0">{{code}}</p>
    </div>
    <p class="text-dark mb-5 lead">{{text}}</p>
    {% if start %}
    <p class="text-black-50 mb-0">Have you setup a account yet?</p>
    <a href="../start">← Try signing up here</a>
    <br>
    <br>
    <br>
    <p class="text-black-50 mb-0">Also remeber if the login prompt does not show up reload the page</p>
    {% else %}
    <p class="text-black-50 mb-0">It looks like you found a glitch in the matrix...</p><a href="../">← Back to Dashboard</a>
    {% endif %}
</div>
{% endblock %}