<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" href="/static/img/OpenLoop512.png">
    <link rel="apple-touch-startup-image" href="/static/img/OpenLoop512.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <meta name="" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <link rel="icon" type="image/png" sizes="500x500" href="/static/img/OpenLoopBlack.png">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/fontawesome5-overrides.min.css">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#4E73DF">
    <style>
        .dropdown-header {
            border: none;
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body id="page-top" class="bg-gradient-{{methods.theme}}">
    <div id="wrapper">
        {% include "navbar.jinja" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div style="padding: 10px;padding-bottom: 0px;" id="offline" style="display: none;" hidden>
                    <p style="background: var(--bs-red);color: var(--bs-white);padding: 10px;padding-bottom: 10px;border-radius: 10px;">Disconnected to OpenLoop Server! Reconnecting Soon...</p>
                </div>
                <div style="padding: 10px;padding-bottom: 0px;" id="connecting" hidden>
                    <p style="background: var(--bs-blue);color: var(--bs-white);padding: 10px;padding-bottom: 10px;border-radius: 10px;">Trying to connect to OpenLoop Server...</p>
                </div>
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for plugins" /><button class="btn btn-{{methods.theme}} py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for plugins" />
                                            <div class="input-group-append"><button class="btn btn-{{methods.theme}} py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% if flow_enabled %}
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" href="#" id="refresh">
                                        <i class="fas fa-redo fa-fw"></i>
                                    </a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown no-arrow mx-1">
                                {% include "alerts.jinja" %}
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><img class="border rounded-circle img-profile" src="/static/img/OpenLoopBlack.png" /></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <h6 class="dropdown-header" flow="defaults.version"></h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Made with Flask as part of <a href="https://github.com/CycloneBiz">Cyclone</a></span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/js/flow.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/bs-init.js"></script>
    <script src="/static/js/theme.js"></script>
    {% block js %}{% endblock %}
</body>

</html>