<!DOCTYPE html>
<html lang="en">

<head>
    {% include "headers.jinja" %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body id="page-top" class="bg-gradient-{{methods.theme}}">
    <div id="wrapper">
        {% include "navbar.jinja" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div style="padding: 10px;padding-bottom: 0px;" id="offline" style="display: none;" hidden>
                    <p style="background: var(--bs-red);color: var(--bs-white);padding: 10px;padding-bottom: 10px;border-radius: 10px;">Disconnected to OpenLoop Server! Reconnecting Soon...</p>
                </div>
                <div style="padding: 10px;padding-bottom: 0px;" id="connecting" hidden>
                    <p style="background: var(--bs-blue);color: var(--bs-white);padding: 10px;padding-bottom: 10px;border-radius: 10px;">Trying to connect to OpenLoop Server...</p>
                </div>
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" type="button"><em class="fas fa-bars"></em></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search OpenLoop data" disabled/><button class="btn btn-{{methods.theme}} py-0" type="button"><em class="fas fa-search text-white"></em></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><em class="fas fa-search"></em></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search OpenLoop data" disabled />
                                            <div class="input-group-append"><button class="btn btn-{{methods.theme}} py-0" type="button"><em class="fas fa-search text-white"></em></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% if flow_enabled %}
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" href="#" id="refresh">
                                        <em class="fas fa-redo fa-fw"></em>
                                    </a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="nav-item dropdown no-arrow mx-1">
                                {% include "alerts.jinja" %}
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><img class="border rounded-circle img-profile" src="/static/img/OpenLoopBlack.png" /></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" href="/logout"><em class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></em>Logout</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header" flow="defaults.version">OpenLoop</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Made with Flask as part of <a href="https://github.com/CycloneBiz">Cyclone</a></span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><em class="fas fa-angle-up"></em></a>
    </div>
    <script type="module" src="/static/js/flow.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>
    {% block js %}{% endblock %}
</body>

</html>