<!DOCTYPE html>
<html lang="en">

<head>
    {% include "headers.jinja" %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body id="page-top" class="bg-gradient-{{methods.theme}}">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div style="padding: 10px;padding-bottom: 0px;" id="offline" style="display: none;" hidden>
                    <p style="background: var(--bs-red);color: var(--bs-white);padding: 10px;padding-bottom: 10px;border-radius: 10px;">Disconnected to OpenLoop Server! Reconnecting Soon...</p>
                </div>
                <div style="padding: 10px;padding-bottom: 0px;" id="connecting" hidden>
                    <p style="background: var(--bs-blue);color: var(--bs-white);padding: 10px;padding-bottom: 10px;border-radius: 10px;">Trying to connect to OpenLoop Server...</p>
                </div>
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Made with Flask as part of <a href="https://github.com/CycloneBiz">Cyclone</a></span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><em class="fas fa-angle-up"></em></a>
    </div>
    <script src="/static/js/flow.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>
    {% block js %}{% endblock %}
</body>

</html>