{% extends "base.html" %}

{% block title %}Dashboard - OpenLoop{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary m-0 fw-bold" reflow-serv="index.title" reflow-time="10000">New Release</h6>
            </div>
            <div class="card-body">
                <h1 reflow-serv="index.description" reflow-time="10000">OpenLoop V3</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}