{% extends "base.html" %}

{% block title %}Dashboard - OpenLoop{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary m-0 fw-bold">OpenLoop</h6>
            </div>
            <div class="card-body">
                <h1 >Welcome to OpenLoop</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Server Time</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span reflow-serv="defaults.timec" reflow-time="100"></span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-hourglass fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}