{% extends "base.html" %}

{% block title %}Dashboard - OpenLoop{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Server Time</span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span flow-serv="defaults.timec" flow-time="100"></span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-hourglass fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-start-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>CPU Usage</span></div>
                        <div class="row g-0 align-items-center">
                            <div class="col-auto">
                                <div class="text-dark fw-bold h5 mb-0 me-3" flow-serv="defaults.cpu" flow-time="500" flow-type="innerHTML"><span>95%</span></div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-info" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" flow-serv="defaults.cpu" flow-time="500" flow-type="width"><span class="visually-hidden">95%</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-microchip fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}