{% set navbar = methods.plugins() %}
{% for i in navbar %}
    {% if i == 'PLUGINS' %}
        {% if methods.len(navbar[i])>0 %}<h6 class="collapse-header">{{i}}</h6>{% endif %}
        {% for l in navbar[i] %}
            <a class="collapse-item" href="/plugin/{{l}}">{{l}}</a>
        {% endfor %}
    {% else %}
        <h6 class="collapse-header">{{i}}</h6>
        {% for l in navbar[i] %}
        <a class="collapse-item" href="/plugin/{{i}}/{{l}}">{%if l == 'index'%}Main Page{% else %}{{l}}{% endif %}</a>
        {% endfor %}
    {% endif %}
{% endfor %}